
body{
    font-size: large;
    
}
html{
    background:black
}
html{
    color:white
}
}
h2{
    color:darkred
}
h2{
    color:red
}
div#funnyQuote{
    color: green
}
div#funnyQuote{
    font-style:italic;
    font-size: larger
}
button.funnyqg{
    width:150px;
    height: 40px;
    font-size: larger;
    font-style: italic;
    background:navy;
    color:red
}
button.funnyqg:hover{
	width:150px;
   	height: 40px;
    	font-size: larger;
    	font-style: italic;
    	background:red;
    	color:navy
}

div#FunnyQuoteGen{
    color: green;
    font-style: italic;
    font-size: larger
    }

.header {
  padding: 5px;
  background: gray;
  color: red;
  font-size: larger;
}
button.p2:hover{
  background:green;
  color:blue
}
button.p1:hover{
    background:green;
    color:blue
}
button.p3:hover{
	background:green;
   	color:blue
}
button.p4:hover{
	background:green;
   	color:blue
}
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
 
}


img#logo:hover{
    animation-name: spinning;
    animation-duration: .5s;
    animation-timing-function: linear;
}
img#my\ logo:hover{
    animation-name: spinning;
    animation-duration: .5s;
    animation-timing-function: linear;
}
button.p5:hover{
	background:green;
   	color:blue
}
button.p1{
	background:red;
	color:blue
}
