
html{
    background:black
}
html{
    color:white
}
button{
    color:red
}
button{
    background:navy
}
h2{
    color:darkred
}
button{
    background:navy
}
h2{
    color:red
}
div#funnyQuote{
    color: green
}
div#funnyQuote{
    font-style:italic;
    font-size: larger
}
button{
    width:150px;
    height: 40px;
    font-size: larger;
    font-style: italic
}


div#FunnyQuoteGen{
    color: green;
    font-style: italic;
    font-size: larger
    }
button{
    font-style: italic
}
button{
    font-size: larger
}
div#RandomMemeGen{
    color: blue
}
div#RandomMemeGen{
    font-size: larger
}
div#RandomMemeGen{
   font-size-adjust: 1.6;
   background: grey
}
button#randomMeme{
    width: 600px;
    height: 60px;
    font-size-adjust: 1.1;
    background: darkred;
    color:black
}
.header {
  padding: 60px;
  text-align: center;
  background: gray;
  color: red;
  font-size: 30px;
}
.header {
  padding: 5px;
  background: gray;
  color: red;
  font-size: larger;
}
a.button{
  padding:2px;
  background:black
}
