html{
    background:black;
    color:red;
}
.header {
  padding: 5px;
  background: gray;
  color: red;
  font-size: larger;
}
.p2:hover{
  background:green;
  color:blue
}
.p1:hover{
    background:green;
    color:blue
}
.p3:hover{
	background:green;
   	color:blue
}
button.p4:hover{
	background:green;
   	color:blue
}
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
 
}


img#logo:hover{
    animation-name: spinning;
    animation-duration: .5s;
    animation-timing-function: linear;
}
img#my\ logo:hover{
    animation-name: spinning;
    animation-duration: .5s;
    animation-timing-function: linear;
}
div#sound\ buttons{
    font-size: larger;
    background: navy;
    color: orange;
    width:1000px;
    height:500;
    overflow: auto;
    text-align: justify;
    padding: 20px;
    
        
}
button.p5:hover{
	background:green;
   	color:blue
}
button.p2{
	background:red;
	color:blue
}

a{
    padding:3px;
    color:greenyellow
}
