html{
    background:black;
    color:red;
}
div#header {
  padding: 5px;
  background: gray;
}
button.p2:hover{
  background:green;
  color:blue
}
button.p1:hover{
    background:green;
    color:blue
}
button.p3:hover{
	background:green;
   	color:blue
}
button.p4:hover{
	background:green;
   	color:blue
}
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
 
}


img#logo:hover{
    animation-name: spinning;
    animation-duration: .5s;
    animation-timing-function: linear;
}
img#my\ logo:hover{
    animation-name: spinning;
    animation-duration: .5s;
    animation-timing-function: linear;
}
div#RandomMemeGen{
    color: blue
}
div#RandomMemeGen{
    font-size: larger
}
div#RandomMemeGen{
   font-size-adjust: 1.6;
   background: grey
}
button#randomMeme{
    width: 600px;
    height: 60px;
    font-size-adjust: 1.1;
    background: darkred;
    color:black
}
button#randomMeme:hover{
    width: 600px;
    height: 60px;
    font-size-adjust: 1.1;
    background: black;
    color:darkred
}
}
