
html{
    background:black
}
html{
    color:white
}
button{
    color:green
}
button{
    background:navy
}
h2{
    color:red
}
button{
    background:navy
}
h2{
    color:red
}
div#funnyQuote{
    color: green
}
div#funnyQuote{
    font-style:italic
}
div#funnyQuote{
    font-size: larger
}

button{
    width:150px
}
button{
    height: 40px
}
button{
    font-size: larger
}
button{
    font-style: italic
}

div#FunnyQuoteGen{
    color: green
}
div#FunnyQuoteGen{
    font-style: italic
}
div#FunnyQuoteGen{
    font-size: larger
}
button{
    font-style: italic
}
button{
    font-size: larger
}
div#RandomMemeGen{
    color: blue
}
div#RandomMemeGen{
    font-size: larger
}
div#RandomMemeGen{
   font-size-adjust: 1.6;
   background: grey
}
button#randomMeme{
    width: 600px;
    height: 60px;
    font-size-adjust: 1.1;
    background: darkred;
    color:black
}
